<p>
  <b>Title:</b>
  <%=h @post_image.title %>
</p>

<p>
  <b>Post:</b>
  <%=h @post_image.post_id %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @post_image.image.url %>
</p>


<%= link_to 'Edit', edit_post_image_path(@post_image) %> |
<%= link_to 'Back', post_images_path %>